:root {
    --white: #fff;
    --black: #000;
    --grey: #262626;
    --light-grey: #a8a8a8;
    --blue: #0095f6;
    --light-peach: #FFE5B4;
    --card: #dbc29e56;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    scroll-behavior: smooth;
    background-color: var(--white);
    font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
    color: var(--black);
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    top: 0px;
    left: 0px;
    width: 20vw;
    height: 100vh;
    background-color: var(--white);
    color: var(--white);
    border-right: 1px solid var(--light-grey);
}

.logo {
    width:  15rem;
    margin: 0.5rem 0rem
}

a {
    color: var(--black);
    text-decoration: none;
}

.link {
    display: flex;
    justify-content: flex-start;
    width: auto;
    align-items: center;
    color: var(--white);
    font-size: 1.2rem;
    padding: 0.6rem 0rem;
    padding-left: 1.5rem;
}

.link:hover {
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 7.5px 0 rgba(0, 0, 0, 0.25);
}

.main-container {
    background-color: var(--white);
    display: block;
    padding: 1rem;
    width: 75vw;
    height: auto;
    margin-left: auto;
    overflow-y: auto;
    align-items: left;
    justify-content: left;
}

.banner-pics {
    display: flex;
    flex-direction: row;
    width: auto;
    overflow: hidden;
    position: relative;
    height: 20rem;
}

.banner {
    width: auto;
    height: 20rem;
}

.info p {
    font-size: 1.3rem;
}

.info {
    margin-left: auto;
    margin-right: auto;
}

marquee {
    scroll-behavior: smooth;
}

.bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    justify-content: center;
}

.social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: center;
}

.social-link img {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0rem 1rem;
}

.copyright p {
    font-size: 0.7rem;
    color: var(--light-grey);
}

.copyright {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.vm-main {
    background-color: var(--white);
    display: block;
    padding: 1rem;
    width: 75vw;
    height: auto;
    margin-left: auto;
    overflow-y: auto;
    align-items: left;
    justify-content: left;
}

.vision-section p {
    font-size: 1.5rem;
}

.mission-section p {
    font-size: 1.5rem;
}

.key-initiatives p {
    font-size: 1.2rem;
}

.impact-achievements p {
    font-size: 1.2rem;
}

.impact-achievements li {
    font-size: 1.2rem;
}

.challenges p {
    font-size: 1.2rem;
}

.challenges li {
    font-size: 1.2rem;
}

.main-pp {
    background-color: var(--white);
    display: block;
    padding: 1rem;
    width: 75vw;
    height: auto;
    margin-left: auto;
    overflow-y: auto;
    align-items: left;
    justify-content: left;
}

.program {
    background-color: var(--card);
    border: none;
    border-radius: 10px;
    padding-left: 1rem;
    height: 500px;
}

.program img {
    border: none;
    border-radius: 25px;
    float: left;
    padding-right: 1rem;
}

.program h1{
    font-family: "Kanit", sans-serif;
    font-weight: 650;
}

.main-gallery {
    background-color: var(--white);
    display: block;
    padding: 1rem;
    width: 75vw;
    height: auto;
    margin-left: auto;
    overflow-y: auto;
    align-items: left;
    justify-content: left;
}

.events {
    display: flex;
    flex-direction: column;
    background-color: var(--card);
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 2rem;
    width: 75vw;
}

.slider {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.288);
    backdrop-filter: 2rem;
    border-radius: 1.75rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    height: auto;
    width: auto;
    margin: auto;
}

.balbhavan-main {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 75vw;
    height: auto;
    margin-left: auto;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
}

.balbhavanlogo {
    margin-bottom: 1rem;
}

.contact-main {
    background-color: var(--white);
    display: block;
    padding: 1rem;
    width: 75vw;
    height: auto;
    margin-left: auto;
    overflow-y: auto;
    align-items: left;
    justify-content: left;
}

.contact-form {
    margin-bottom: 1rem;
}

legend {
    font-size: 1.75rem;
}

input {
    width: 30rem;
    font-size: 1.1rem;
}

label {
    font-size: 1.25rem;
}

.submit {
    width: 5rem;
    height: 2rem;
    border-radius: 50px;
    border: none;
    background-color: var(--light-grey);
    cursor: pointer;
    transition: 0.5s ease;
}

.submit:hover {
    width: 5rem;
    height: 2rem;
    border-radius: 50px;
    border: none;
    background-color: var(--card);
    cursor: pointer;
}

ul.jayant-balbhavan {
    font-size: 20px;
}

.WA {
    position: fixed;
    font-size: 30px;
    display: inline-block;
    padding: 12px 20px;
    background-color: #25D366;
    color: white;
    font-weight: bold;
    line-height: 60px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    z-index: 1000;
    text-decoration: none;
}

.WA:hover {
    background-color: #1ebe5d;
}

.balbhavan-content {
    display: flex;
    flex-direction: column;
}

.content-outbox {
    display: flex;
    flex-direction: row;
    padding: 25px 10px 25px 10px;
    border-radius: 5px;
}

.content-title {
    align-items: center;
    width: 50%;
    font-size: 40px;
    font-weight: 900;
    margin: 0;
    padding: 0%;
}

.content-box {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 50%;
}
